<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/images/logos/mario.ico"/>
    <title>Página de administrador</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
    <!-- Estilos propios --> 
    <link id="Estilos propios" href="/css/styles.css" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

  </head>
  <body>
      {% include 'shared/layout-nav.twig' %}
      
      {% block form %}
      {% endblock %}
      
      {% block options %}
      {% endblock %}
         
      {% block agregar %}
      {% endblock %}

         
      {% block modificar %}
      {% endblock %}

         
      {% block eliminar %}
      {% endblock %}

      {% block footer %}
       {% if app.request.pathinfo !="/" %}
        <!-- Footer -->
        <footer class="page-footer font-small mdb-color lighten-2 mt-4">

          <!-- Footer Links -->
          <div class="container">

            <!-- Grid row-->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                  <!-- Facebook -->
                  <a class="fb-ic" href="https://es-la.facebook.com/Nintendo">
                    <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                  </a>
                  <!-- Twitter -->
                  <a class="tw-ic" href="https://twitter.com/nintendoamerica?lang=es">
                    <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                  </a>
                
                  <!--Instagram-->
                  <a class="ins-ic" href="https://www.instagram.com/nintendo">
                    <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                  </a>

                  <!-- Google +-->
                  <a class="gplus-ic" href="https://plus.google.com/+nintendo">
                    <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                  </a>

                <!--Pinterest-->
                  <a class="pin-ic" href="https://www.pinterest.com/nintendo">
                    <i class="fa fa-pinterest fa-lg white-text fa-2x"></i>
                  </a>
                  
                  
                </div>
              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row-->

          </div>
          <!-- Footer Links -->

          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="https://github.com/UNS-IAW-2018-Com19/Proyecto-3-IAW"> Ingeniería de Aplicaciones Web - Comisión 19</a>
          </div>
          <!-- Copyright -->

        </footer>
        <!-- Footer -->
      {% endif %}
    {% endblock %}
      
  </body>
    <!-- JQuery -->  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <script type="text/javascript" src= "/js/main.js" async></script>
 
 {% block script %}
 {% endblock %}
</html>